@import "extend/reset";
@import "extend/variables";

.bgs{
  background-color: @bg;
  font-size: @font-size18;
}

.fon{
  font-size: @font-size24;
}

.les{
  font-size: @font-size14;
}

.ol{
  font-size: @font-size16;
}

.oli{
  font-size: @font-size18;
}

.test{
  background-color: @bg;
}

.bg1{
  background: url("../images/tabs2.png")no-repeat center center;
}

.bg2{
  background: url("../images/tabs3.png")no-repeat center center;
}